/* Formatting Resets */

* {margin: 0; padding: 0;}

h1 {
    text-align: center;
    display:    block;
    font-size:  2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display:    block;
    font-size:  1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display:    block;
    font-size:  1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    display:        block;
    margin-top:     1em;
    margin-bottom:  1em;
    margin-left:    0;
    margin-right:   0;
}

ul {
    display:        block;
    list-style-type: disc;
    margin-top:     1em;
    margin-bottom:  1em;
    margin-left:    0;
    margin-right:   0;
    padding-left:   40px;
}

/* content width, placement, color */

.textcontent {
    padding-left:   8px;
    padding-right:  8px;
    padding-top:    2.5em; /* moves content below nav bar */
    padding-bottom: 8px;
    margin-left:    auto;
    margin-right:   auto;
    max-width:      800px;
}

.textcontenttop {
    padding-left:   8px;
    padding-right:  8px;
    padding-top:    8px; 
    padding-bottom: 8px;
    margin-left:    auto;
    margin-right:   auto;
    max-width:      800px;
}

.video-box {
    position: relative;
    width:    100%;
    height:   0;
    padding-top: 56.2%; /* aspect ratio */ }

.video {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    width:    100%;
    height:   100%;
}

body {
    color:      #000a21;
    font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
    font-size:  16px;
    background: #ecfaff;
}

/* Navigation Settings */
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin-top: -2.5em; /* moves nav bar just above the fold */
    top:       0;
	width:     100%;
	background: #082159;
    text-align: center;
    z-index:    1;
}

.anchor a { /* for moving content below nav bar */
    position: absolute;
    left:     0px;
    top:      -5em;
}

.anchor {
  position: relative;
}

nav ul {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 0px;
}

nav li {
	display: inline-block;
	padding: .67em 10px;
}

nav li a {
	color: #fff;
	text-transform: uppercase;
    text-decoration: none;
    font-size:  1.17em;
}

/* Screens Settings */
#screen1 {
    min-height: 100vh;
}